*{
    margin: 0%;
    padding: 0%;
}

.cabecalho{
    background-color: #000000;
    color:rgb(224, 11, 110);
    display:flex;
    justify-content: space-around;
    padding:19px 0 ;
    font-size: 19px;
}

.cabecalhoImagem{
    width: 15%;
    height: 5%;
}

body{
    background-color: #a11212
    
}
li{
    color:rgb(0, 0, 0)
}
.cabecalhoListaItem{
    display: inline-block; 
    margin: 0 25px;
    padding: 24px 0;
}   
li{
    color:rgb(255, 255, 255)
}
.sobreImagem{
    width: 25%;
}
.sobre{
    background-image:linear-gradient(#000000 , #a11212);
    color:#f7f7f7;
        display: flex;
        justify-content: left;
        align-items: left;
        padding: 40px;
}

.sobreConteudo{
    width:50%;
}

.membrosImagem{
    width: 65%;
}

.membroIcone{
    width: 5%;
}
.membroDiv{
    padding-bottom: 55px;
    text-align: left;
}
.membrosTitulo{
    text-align: center;
    padding: 50px;
}
.membrosTodos{
    display: grid;
    grid-template-columns:10% 20% 20% 20% 20% ;
}