*{
    margin: 0;
    padding:0;
}

body{
    background-color: rgb(0, 0, 0);
    /*cor de fundo*/
    color: white;
    /*cor da letra*/
}

h1{
    color:rgb(255, 255, 255)
}

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    height:120vh;
    display: grid;
    grid-template-columns: 50% 60%;
}

.container-botao{
    background-color:blue;
    border-radius: 5px;
    padding: 2em;
    color:white;
    display:block;
    margin-bottom: 3em;
}

.botao_secundario{
    background-color: transparent;
    border: 5px solid white;
}
.container-imagem{
    margin: 5em 0 5em 0;
}
.container_caixa{
margin: 75px 100px;
}