*{
    margin: 0;
    padding:0;
}

body{
    background-color: rgb(0, 0, 0);
    /*cor de fundo*/
    color: ;
    /*cor da letra*/
}

h1{
    color:white
}

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    height:120vh;
}