
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --cor-de-fundo: rgb(197, 0, 0);
    --texto1: #b40808;
    --texto2: #000000;
    --botao-ativo:#ff7300;
    --botao:inativo: rgba(58,55,94,05);
    --texto-fundo:rgb(13, 0, 156);
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--texto1);
    color: var(--texto2);
    font-family: "Rubik Glitch Pop", system-ui;
}
.botao{
    border-radius: 30%;
    text-align: center;
    margin: 50px;
    padding:15px;
    font-size:30px;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    width: 150ch;
    font-size: xx-large;
}
.botao{
    font-family: "Lobster", sans-serif;
    background-color:rgb(24, 214, 151) var(--botao-inativo);
    display: flex;
    color:rgb(48, 13, 13);
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 70%;
    border-radius: 35px;
}
.botoes{
    display: flex;
}
.ativo{
    background: var(--botao-ativo);
    border-bottom: 4px solid rgb(0, 0, 0);
}