
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

:root{
    --cor-da-letra: white;
    --cor-de-fundo:#1471b8;
    --fundo-senha: #22629e;
    --fundo-texto:#fafafa; 
    --borda:#000000;
    --fonte:"Sevillana", cursive;
}

body{
    color: var(--cor-da-letra);
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte)

}   

.conteudo{
    
    text-align: center;
    font-size: 35px;
    border-radius: 50px;
}

.img{

    width: 80px;
}

.titulo-principal{

    font-size: 20px;
    font-family: var(--fonte);
    color: black

}

.titulo-secundario{

    font-size: 23px;
    

}

.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
}

.conteudo-senha{
    margin-top: 50px;
    background: var(--fundo-senha);
    padding: 20px;
    border-bottom: 20px solid var(--borda);
    border-radius: 50px;
    

}

#campo-senha{

    background-color: var(--fundo-texto);
    color: var(--cor-da-letra);
    width: 70px;
    border-radius: 40px;
    font-size: 30px;
}

#campo-senha: :focus{

    outline: none;
}

